<div class ="user_menu">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class ="room_create">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class ="room_select">
  <div class="room_name">
    <a href="#">chatroom1</a>
  </div>
  <div class="room_name">
    <a href="#">chatroom2</a>
  </div>
</div>