<div class ="user_menu">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class ="room_create">
    <%= link_to 'チャットを作成する', new_room_path %>
  </div>
</div>
<div class ="room_select">
  <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room_name">
        <%=link_to room.name, room_messages_path(room) %>
      </div>
    </div>
  <% end %>
   <%# <div class="room_name">
    <a href="#">chatroom1</a>
  </div>
  <div class="room_name">
    <a href="#">chatroom2</a>
  </div> %>

</div>